* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242728;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 80px;
}

.container-1000 {
  width: 1000px;
  margin: auto;
  height: 100%;
}

.container-1320 {
  width: 1320px;
  margin: auto;
  height: 100%;
}

.grey-bg {
  background: #222525;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* header */
/* navbar */

.navbar {
  width: 100%;
  height: 80px;
  background-color: #222525;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #293031;
  z-index: 3;
}

.navbar .d-flex img {
  height: 34px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 13px;
}

nav ul li a {
  text-decoration: none;
  color: #536970;
}

nav ul li a i {
  font-size: 8px;
}

.green-btn {
  border: 2px solid #A1DE41;
  padding: 5px 9px;
  border-radius: 2px;
  color: #CDD8BC;
}

.margin-l-btn {
  margin-left: 5px;
}

.grey-btn {
  border: 2px solid #3F4D4E;
  padding: 5px 9px;
  border-radius: 2px;
  color: #CDD8BC;
}

/* main header */

.main-header {
  background: rgb(36,39,40);
  background: linear-gradient(180deg, rgba(36,39,40,1) 60%, rgba(48,52,52,1) 100%);
}

h1 {
  text-transform: capitalize;
  color: #FFF;
  text-align: center;
  margin-top: 65px;
  font-size: 40px;
}

.header-text p {
  text-align: center;
  font-size: 17px;
  width: 845px;
  margin: 15px auto;
  color: #84949A;
  line-height: 25px;
}

.header-text .center {
  text-align: center;
  margin-top: 50px;
}

.header-text .green-btn {
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px 40px;
}

.jumbo-img {
  margin-top: 90px;
  margin-bottom: -5px;
}

/* loghi header */

.header-logos {
  background-color: #FFF;
  height: 78px;
  border-bottom: 1px solid #E2E9ED;
}

.d-flex-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-logos img {
  height: 40px;
}

/* main */
/* quick-learn */

.quick-learn {
  background-color: #FFF;
  font-size: 17px;
  line-height: 25px;
  color: #697782;
  padding: 100px 0;
}

.d-flex-main {
  display: flex;
  align-items: center;
}

.flex-sub-title {
  display: flex;
  align-items: center;
}

.sub-title {
  font-size: 14px;
  color: #7A8B91;
}

.sub-title img {
  height: 25px;
  margin-right: 10px;
}

.q-l-text h2 {
  font-size: 30px;
  color: #3B4447;
  margin-top: 20px;
}

.divide {
  height: 4px;
  width: 30px;
  border-radius: 5px;
  margin: 23px 0 20px;
}

.d-color-l-grey {
  background-color: #F1F6F8;
  border: 1px solid #C8DCE2;
}

.tutorial-btn {
  border-bottom: 2px solid rgba(36, 193, 237, 0.6);
  display: inline-block;
}

.quick-learn a {
  color: #24C1ED;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.quick-learn a i {
  font-size: 8px;
}

/* sezione url */

.url {
  font-size: 17px;
  line-height: 25px;
  color: #84949A;
}

.url .container-1320 .url-text .sub-title {
  color: #A1ABB0;
}

.url-text {
  padding: 305px 0;
  width: 50%;
}

.url-text h2 {
  font-size: 30px;
  color: #FFF;
  margin-top: 20px;
}

.url-main-text {
  width: 625px;
}

.d-color-d-grey {
  background-color: #495154;
  border: 1px solid #6F7B7F;
}

.url-img {
  position: relative;
  height: 100%;
  width: 50%;
}

.url-img img {
  position: absolute;
  top: 58px;
  z-index: 0;
}

/* sezione scale */

.vector {
  background-color: #FFF;
  font-size: 17px;
  line-height: 25px;
  color: #697782;
  border-bottom: 1px solid black;
}

.vector-text {
  width: 50%;
  padding: 290px 0;
}

.vector-text h2 {
  font-size: 30px;
  color: #3B4447;
  margin-top: 20px;
  line-height: 40px;
}

.vector a {
  color: #24C1ED;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.vector a i {
  font-size: 8px;
}

.vector-img {
  width: 50%;
  position: relative;
}

.first-vector-img,
.second-vector-img {
  position: absolute;
  display: inline-block;
  height: 400px;
}

.first-vector-img {
  top: 109px;
}

.second-vector-img {
  left: 339px;
  top: 109px;
}

/* free-cross section */

.free-cross {
  height: 500px;
  background-color: #FFF;
}
